.tipo_de_evento {
    background-color: var(--preto);
    font-size: .9rem;
    font-weight: 300;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    margin-bottom: 210px;

}

.texto-chamada,
.evento_card {
    margin: auto;
}

.card-container {
    height: calc(100vw-2rem);
    max-width: 400px;
    max-height: 400px;
}

.evento-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: flex-start;
    padding: 2rem;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.evento-btn {
    padding: .5rem 2rem;
}



.evento-card p {
    width: 80%;
}

.casamento-container {
    background: url('../img/card-casamentos.jpg') center/cover no-repeat;
}

.corporativo-container {
    background: url('../img/card-corporativo.jpg') center/cover no-repeat;
}

.formatura-container {
    background: url('../img/card-formatura.jpg') center/cover no-repeat;
}

.aniversario-container {
    background: url('../img/card-aniversario.jpg') center/cover no-repeat;
}

.evento-carrossel {
    margin-bottom: -200px;
}