.footer {
    color: var(--branco);
    background-color: var(--preto);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer-logo {
    width: 60%;
    margin-top: 0;
}

.footer-icone {
    width: 2rem;
    height: 2rem;
}

.footer-contato {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 1rem;
}

.footer-contato p {
    margin: 0;
    text-align: center;
}