* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: #1a1a1a;
    --cinza-claro: #666666;
    --vermelho: #af1e22;
    --branco: #f5f5f5;
    font-size: 14px;
}

body {
    background-color: #f5f5f5;
}

section {
    margin-bottom: 2rem;
}

p,
a,
li {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

main {
    position: relative;
}

.whatsapp-img {
    width: 15px;
}

.whatsapp-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;

}

.whatsapp-link p {
    margin: 0;

}

.whatsapp-btn {
    position: fixed;
    background-color: #42B759;
    width: 155px;
    height: 30px;
    bottom: 40px;
    right: 16px;
    z-index: 100;
    padding: 6px;
    font-size: 0.6rem;
    border-radius: 15px;
    border: 2px solid var(--branco);
    opacity: 0.95;
}